@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    color: rgb(51, 51, 51);
}

h2 {
    font-size: 1.5em;
    color: rgb(51, 51, 51);
}

h3 {
    font-size: 1.2em;
    color:rgb(250, 214, 214)
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
    color: rgb(51, 51, 51);
    text-align: center;
}

a:visited{
    color: rgb(126, 123, 123);
}

header {
    background-color: rgb(165, 15, 15);
    padding-top: 5px;
}

    header img {
        padding-left: 5px;
        padding-bottom: 5px;
    }

#imgLogo {
    height: 3em;
    width: auto;
}

ul {
    list-style: none;
}

    ul li a {
        text-decoration: none;
    }
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.botonera {
    background-color: rgb(51, 51, 51);

}

    .botonera a {
        color: rgb(255, 255, 255);

    }

.mainImage {
    width: 100%;
}

.bgLight {
    background-color: rgb(250, 214, 214);
}

footer {
    background-color: rgb(165, 15, 15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        footer ul li {
            margin: 10px;
        }
            footer ul li a {

                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.1em;
            }
                footer svg {
                    color: rgb(255, 255, 255);
                    width: 30px;
                    height: 30px;
                    padding-top: 5px;
                }

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    padding: 10px;
    width: auto;
 }
    .container ul li{
        align-items: center;
    } 

.infoAcade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(165, 15, 15);
    padding: 5px;
    margin: 10px;
}
    .links ol li a{
        text-decoration: none;
    }

.actAcade{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 214, 214);
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "tittle tittle tittle tittle"
        "course1 course2 course2 course5"
        "course1 course3 course4 course5"
        "course1 course3 course4 course5";
    gap: 5px;
    margin: 2px;
}

    .courses h1 {
        color: rgb(51, 51, 51);
    }

        .courses figure img {
            width: 100%;
        }

            .courses figcaption {
                margin: 5px;
                font-size: 1.2em;
                text-align: center;
                font-weight: bold;
                color: rgb(51, 51, 51);
            }
                .courses p {
                    margin-bottom: 5px;
                    color: rgb(51, 51, 51);
                    width: 70%;
                }
                    .courses .coursesTittle {
                        grid-area: tittle;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                    }
                    .courses .course1 {
                        grid-area: course1;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: center;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px;
                        width: 100%;
                        margin: 0;
                    }
                    .courses .course2 {
                        grid-area: course2;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        margin: 0;
                        width: 100%;
                    }
                    .courses .course3 {
                        grid-area: course3;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px;
                        width: 100%;
                        margin: 0;
                    }
                    .courses .course4 {
                        grid-area: course4;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px;
                        width: 100%;
                        margin: 0;
                    }
                    .courses .course5 {
                        grid-area: course5;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-content: center;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 5px;
                        width: 100%;
                        margin: 0;
                    }


.buttons {
    background: rgb(171, 142, 142);
    font-size: 1em;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    border: none;
}

    .buttons:hover {
        background: rgb(178, 120, 120);
        cursor: pointer;
    }

@media (width < 768px) {
    .news {
        flex-direction: column;
        align-items: center;
    }

    .contact{
        flex-direction: column;
        align-items: center;
    }

        .contact iframe{
            width: 300px;
            height: 200px;
        }

    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "tittle tittle"
            "course1 course1"
            "course2 course2"
            "course3 course3"
            "course4 course4"
            "course5 course5";
        gap: 5px;
        margin: 2px;
    }



}