* {
    font-family: $mainFont;
    box-sizing: border-box;
}

h1,h2,h4 {
    color: $darkColor;
}

h1 {
    font-size: $textLg;
}

h2 {
    font-size: $textMd;
}

h3 {
    font-size: $textSm;
    color: $whiteColor;
}

p {
    font-size: $textSm;
    line-height: 1.3em;
    color: $greyColor;
    text-align: center;
}

a{
    text-decoration: none;
    &:visited{
        color: $whiteColor;
    }
}

header {
    background: linear-gradient(277deg, rgba(248,237,237,0.76) 3%, rgba(170,57,57,0.93) 39%);
    padding-top: 5px;
    img {
        padding-left: 5px;
        padding-bottom: 5px;
    }
}

#imgLogo {
    @include sizes(auto, 3em);
}

ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}

.text-center {
    text-align: center;
}

.mainImage {
    width: 100%;
}

.bgLight {
    background-color: $secondaryColor;
    overflow-x: hidden;
}

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    h1{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;
    padding: 20px;
    width: auto;
    border-radius: 4px;
    ul {
        li{
            align-items: center;
            padding-top: 40px;
        }
    } 
}

.selectHour{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        text-align: center;
    }
}
.selectHour2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        text-align: center;
    }
}

.timeTable{
    text-align: center;
    width: 30%;
    filter: drop-shadow(5px 5px 5px $darkColor); 
}

.marginTop{
    margin-top: 20px;
}

.infoAcade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    img{
        filter: drop-shadow(5px 5px 5px $darkColor);
    }
}

.containerLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
    .links1, .links2, .links3{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin-top: 40px;
        border-radius: 4px;
        ul{
            li{
                padding-top: 20px;
            }
        }
    }
}


.actAcade{
    display: flex;
    flex-direction: column;
    background-color: $secondaryColor;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
    p{
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.buttons {
    background: $lightColor;
    color: $darkColor;
    font-size: $textXsm;
    border-radius: 3px;
    padding: 8px;
    margin: 5px;
    border: none;
    a {
        text-decoration: none;
        color: $whiteColor;
    }
    &:hover {
        background: $darkColor;
        color: $lightColor;
        cursor: pointer;
    }
}

.pageNot{
    background-image: linear-gradient(277deg, rgba(248,237,237,0.76) 3%, rgba(170,57,57,0.93) 39%);
    flex-direction: column;
    img{
        margin-top: 20px;
        margin-bottom: 20px;
        filter: drop-shadow(5px 5px 10px $darkColor);
    }
}

  
  
  
  