@media (width < 768px) {
    .news {
        flex-direction: column;
        align-items: center;
        h1{
            font-size: $textMd;
        }
    }

    .containers{
    h2{
        font-size: $textSm;
    }
    ul {
        li{
            align-items: center;
            padding-top: 20px;
        }
    } 
    }

    .contact{
        flex-direction: column;
        align-items: center;
        iframe{
            width: 300px;
            height: 200px;
        }
    }

    .selectHour{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
    }
    .tableContainer{
        flex-wrap: wrap;
        align-content: flex-start;
    
    }

    .infoAcade{
        img{
            display: none;
        }
    }


    .containerLinks{
        flex-direction: column;
    }
   
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "tittle tittle"
            "course1 course1"
            "course2 course2"
            "course3 course3"
            "course4 course4"
            "course5 course5";
        gap: 5px;
        margin: 2px;
    }
}
@media (width < 500px) {
    .pageNot img {
        width: 60%;
    }

}
