@media (width < 768px) {
    .news {
        flex-direction: column;
        align-items: center;
    }

    .contact{
        flex-direction: column;
        align-items: center;
        iframe{
            width: 300px;
            height: 200px;
        }
    }

    .selectHour{
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .timeTable{
        width: 15%;
    }

    .infoAcade{
        img{
            display: none;
        }
    }

    
    .containerLinks{
        flex-direction: column;
    }
   
    .courses {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "tittle tittle"
            "course1 course1"
            "course2 course2"
            "course3 course3"
            "course4 course4"
            "course5 course5";
        gap: 5px;
        margin: 2px;
    }
}
@media (width < 500px) {
    .pageNot img {
        width: 60%;
    }

}
